[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
speechrecognition = "*"
pyaudio = "*"
pyside2 = "*"
pyinstaller = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
